
.header {
    text-align: right;
    background-color: #2b9497;
    margin: 0;
    color:  #f1fcfc;
}

legend, h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 28px;
}


.main-content {
    text-align: center;
    justify-content: center;
    margin: 0;
}


.newMemeForm {
    background-color: #8bc8cac4;
    color: #f1fcfc;
    /* padding: 40px; */
}

.description {
    background-color: #f1fcfc;
    padding-left: 34px;
    color:  #2b9497;
}

.gallery {
    background-color:  #f1fcfc;
    color:  #2b9497;
}

.form-row {
    margin-top: 35px;
}

.upload-photo {
    justify-content: center;
}

.submitButton {
    margin-top: 40px;
    background-color:  #f1fcfc;
    color: #2b9497;
    border: 1px solid #2b9497;
}

.submitPhotoField {
    justify-content: center;
    color: #394949;
    background-color: #f1fcfc;
    border-radius: .3rem;
    /* width: 45%; */

}

.textField {
    background-color: #f1fcfc;
}

.container-fluid{
  padding: 7% 15%;
}

.col {
    border: 1px ridge rgb(146, 146, 163);
    border-radius: .3rem;
    /* padding: 5px; */
    
}


