
.header {
    text-align: right;
    background-color: #2b9497;
    margin: 0;
    color:  #f1fcfc;
    padding: 4rem 3rem .5rem;
}
h1 {
    font-size: 50px;
}


h2, h3 {
    margin: 0;
    font-size: 28px;
    padding: 10px;
}

.description {
    margin: 0;
    position: relative;
    padding: 100px;
}

.main-content {
    text-align: center;
    justify-content: center;
    margin: 0;
}

.new-meme-form {
    position: relative;
    background-color: #8bc8cac4;
    color: #f1fcfc;
}

.description {
    background-color: #f1fcfc;
    padding-left: 34px;
    color:  #2b9497;
}


.upload-photo {
    justify-content: center;
    margin: 0;
    padding: 60px 0px;
}

#submit-button {
    margin: 40px 0px;
    background-color:  #f1fcfc;
    color: #2b9497;
    border: 1px solid #2b9497;
}

/* .submitPhotoF {
    justify-content: center;
    color: #394949;
    background-color: #f1fcfc;
    border-radius: .3rem;
} */


.file-input {
    padding: 30px 0px;
}

/* .add-text {
    display: inline;
} */



/* gallery  */

.column {
    float: left;
    width: 33.33%;
    padding: 5px
    
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#gallery {
    padding-top: 60px;
    background-color:  #f1fcfc;
    color:  #2b9497;
    min-height: 300px;
}
.memeFormat {
    height: 50px;
}

.top-text {
    position: absolute;
    top: 8px;
    font-size: 20px;
    opacity: 2;
}

.bottom-text {
    position: absolute;
    top: 8px;
    font-size: 20px;
    opacity: 2;
}

