
.header {
    text-align: left;
}

.main {
    /* position: relative; */
    /* display: block; */
}

/* .row {
    margin-top: 40px;
    margin-bottom: 40px
} */


.newMemeForm {
    /* position: relative; */
    /* display: block; */
    /* margin: auto;
    text-align: left; */
}


.form-row {
    /* display: block; */
    margin-top: 50px;
    justify-content: center;
}

.upload-photo {
}

